@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #f0efeb;
  transition: all 0.5s;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #979dac;
  display: flex;
  justify-content: space-between;
}
.header .title {
  display: flex;
  gap: 1rem;
}
.header .title #title {
  transition: all 1s;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  color: #353535;
}
.header .title #title.active {
  background-color: #ffffff;
  animation: maintitle 2s forwards;
}
.header .title .icon_edit svg {
  width: 1rem;
  cursor: pointer;
}
.header .title .new_title {
  display: none;
  position: relative;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 14rem;
  height: 5rem;
  border-radius: 0.3rem;
  padding: 1rem;
  position: absolute;
  left: 2%;
  top: 13%;
  z-index: 1;
  animation: smoth 0.3s forwards;
}
.header .title .new_title h3 {
  color: #353535;
}
.header .title .new_title .input_title {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 0.1rem;
  outline: none;
  color: #353535;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.header .title .new_title .input_title::placeholder {
  color: #000000;
  opacity: 0.4;
}
.header .title .new_title::after {
  position: absolute;
  content: "";
  top: -0.4rem;
  left: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #ffffff;
  rotate: 45deg;
}
.header .title .new_title.active {
  display: block;
}
.header .dark_mode .toggle {
  height: 3rem;
  width: 6rem;
  background: url(/public/day.jpg) center/cover;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.5s;
}
.header .dark_mode .toggle .indicator {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  transition: all 0.5s;
}
.header .dark_mode .toggle .indicator .icon_sun {
  background-color: transparent;
  border-radius: 50%;
  scale: 0.8;
  animation: sun 2s infinite;
}
.header .dark_mode .toggle .indicator .icon_sun svg {
  display: block;
  color: #ffffff;
}
.header .dark_mode .toggle .indicator .icon_moon svg {
  display: none;
}
.header .dark_mode .toggle .indicator.active {
  transform: scale(0.9) translateX(50px);
  background-color: #f0efeb;
}
.header .dark_mode .toggle.active {
  background: url(/public/night.jpg) center/cover;
}

.main_request {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0.2rem;
  min-height: 100vh;
}
.main_request .request_container {
  height: 41rem;
  width: 18rem;
  position: relative;
}
.main_request .request_container .request_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.main_request .request_container .request_title .request_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main_request .request_container .request_title .request_title .bar {
  height: 0.5rem;
  width: 1.5rem;
  background-color: #000000;
  border-radius: 1rem;
}
.main_request .request_container .request_title .request_title .bar_progress {
  background-color: #0466c8;
}
.main_request .request_container .request_title .request_title .bar_await {
  background-color: #fcbf49;
}
.main_request .request_container .request_title .request_title .bar_done {
  background-color: #52b788;
}
.main_request .request_container .request_title .request_title .bar_closed {
  background-color: #dbdbdb;
}
.main_request .request_container .request_title .request_title h3 {
  font-weight: 500;
}
.main_request .request_container .request_title .request_title .number_card {
  opacity: 0.4;
  user-select: none;
}
.main_request .request_container .request_title .icon_add {
  background-color: #6246ea;
  border-radius: 0.2rem;
  height: 1.4rem;
  width: 1.4rem;
  display: grid;
  place-content: center;
}
.main_request .request_container .request_title .icon_add svg {
  width: 1.3rem;
  cursor: pointer;
  color: #ffffff;
}
.main_request .request_container .card_zone {
  min-height: 35%;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.main_request .request_container .card_zone .card {
  background-color: #ffffff;
  height: 13rem;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  flex: 1 1 150px;
  position: relative;
}
.main_request .request_container .card_zone .card .card_header {
  display: flex;
  justify-content: space-between;
}
.main_request .request_container .card_zone .card .card_header .title_card {
  cursor: not-allowed;
  outline: none;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  user-select: none;
}
.main_request .request_container .card_zone .card .card_header .title_card.active {
  cursor: default;
  animation: title 2s forwards;
}
.main_request .request_container .card_zone .card .card_header .icon_remove {
  display: grid;
  place-content: center;
}
.main_request .request_container .card_zone .card .card_header .icon_remove svg {
  color: #000000;
  width: 1.3rem;
  cursor: pointer;
}
.main_request .request_container .card_zone .card #card_area {
  cursor: not-allowed;
  padding: 0 0.5rem;
  margin-top: 0.4rem;
  outline: none;
  resize: none;
  width: 100%;
  height: 60%;
  background-color: transparent;
}
.main_request .request_container .card_zone .card #card_area.active {
  cursor: default;
  animation: area 2s forwards;
}
.main_request .request_container .card_zone .card .edit_card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main_request .request_container .card_zone .card .edit_card .edit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6246ea;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
}
.main_request .request_container .card_zone .card .edit_card .edit svg {
  width: 1rem;
}
.main_request .request_container .card_zone .card .edit_card .edit span {
  margin-left: 0.5rem;
  letter-spacing: 1px;
}
.main_request .request_container ::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}
.main_request .request_container ::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #ffffff;
}
.main_request .request_container ::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 5px;
}
.main_request .request_container .card_zone.active {
  background-color: #d90429;
  opacity: 0.5;
}
.main_request .request_container .card_zone.over {
  background-color: #52b788;
}
@keyframes maintitle {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #DCD7C9;
    clip-path: circle(100%);
  }
  80% {
    background-color: #DCD7C9;
    border-radius: 1rem;
    clip-path: circle(50% at);
  }
  100% {
    background-color: transparent;
    border-radius: 0.3rem;
    clip-path: circle(0% at);
  }
}
@keyframes title {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #F4EEE0;
    clip-path: circle(100%);
  }
  100% {
    border-radius: 1rem;
    clip-path: circle(0% at);
  }
}
@keyframes sun {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes area {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #F4EEE0;
    clip-path: circle(100%);
  }
  100% {
    border-radius: 1rem;
    clip-path: circle(0% at);
  }
}
@keyframes smoth {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.dark {
  background-color: #393646;
  color: #fff;
}
.dark .header .title #title {
  color: #ffffff;
}
.dark .header .title #title.active {
  animation: darkTheme_maintitle 2s forwards;
}
.dark .header .new_title {
  background-color: #18122B;
}
.dark .header .new_title h3 {
  color: #ffffff;
}
.dark .header .new_title .input_title {
  background-color: #443C68;
  color: #ffffff;
}
.dark .header .new_title .input_title::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.dark .header .new_title::after {
  background-color: #18122B;
}
.dark .header .dark_mode .toggle .indicator {
  background-color: transparent;
}
.dark .header .dark_mode .toggle .indicator .icon_sun svg {
  display: none;
}
.dark .header .dark_mode .toggle .indicator .icon_moon {
  background-color: transparent;
  border-radius: 50%;
  scale: 0.8;
}
.dark .header .dark_mode .toggle .indicator .icon_moon svg {
  display: block;
  color: #ffffff;
}
.dark .main_request .request_container .card_zone .card {
  background-color: #18122B;
}
.dark .main_request .request_container .card_zone .card .card_header .title_card {
  background-color: #18122B;
  color: #ffffff;
}
.dark .main_request .request_container .card_zone .card .card_header .title_card.active {
  animation: darkTheme_title 2s forwards;
}
.dark .main_request .request_container .card_zone .card .card_header .title_card::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.dark .main_request .request_container .card_zone .card .card_header .icon_remove svg {
  color: #ffffff;
}
.dark .main_request .request_container .card_zone .card #card_area {
  background-color: #18122B;
  color: #ffffff;
}
.dark .main_request .request_container .card_zone .card #card_area::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
.dark .main_request .request_container .card_zone .card #card_area.active {
  animation: darkThem_area 2s forwards;
}
@keyframes darkTheme_maintitle {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #443C68;
    clip-path: circle(100%);
  }
  80% {
    background-color: #443C68;
    border-radius: 1rem;
    clip-path: circle(50% at);
  }
  100% {
    background-color: transparent;
    border-radius: 0.3rem;
    clip-path: circle(0% at);
  }
}
@keyframes darkTheme_title {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #443C68;
    clip-path: circle(100%);
  }
  100% {
    border-radius: 1rem;
    clip-path: circle(0% at);
  }
}
@keyframes darkThem_area {
  0% {
    clip-path: circle(10%);
  }
  50% {
    background-color: #443C68;
    clip-path: circle(100%);
  }
  100% {
    border-radius: 1rem;
    clip-path: circle(0% at);
  }
}

/*# sourceMappingURL=styles.css.map */
