@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

$backgroundColor:#f0efeb;
$white : #ffffff;
$text: #353535;
$black:#000000;
$blue:#0466c8;
$yellow:#fcbf49;
$green: #52b788;
$dark-gray:#979dac;
$Light-gray:#dbdbdb;
$red: #d90429;
$purple: #6246ea;
$highlight:#F4EEE0;
//dark Colors

$dark-bg:#393646;
$dark-text :#fff;
$dark-bg-card:#18122B;
$dark-highlight:#443C68;