@use 'base';

body {
    background-color: base.$backgroundColor ;
    transition: all 0.5s;
}

.header {
    padding: 1rem;
    border-bottom: 1px solid base.$dark-gray;
    display: flex;
    justify-content: space-between;


    .title {
        display: flex;
        gap: 1rem;


        #title {
            transition: all 1s;
            border-radius: 0.2rem;
            padding: 0.5rem 1rem;
            color: base.$text;
        }

        #title.active {
            background-color: base.$white;
            animation: maintitle 2s forwards;
        }

        .icon_edit {
            svg {

                width: 1rem;
                cursor: pointer;

            }
        }

        .new_title {
            display: none;
            position: relative;
            background-color: base.$white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 14rem;
            height: 5rem;
            border-radius: 0.3rem;
            padding: 1rem;
            position: absolute;
            left: 2%;
            top: 13%;
            z-index: 1;
            animation: smoth 0.3s forwards;

            h3 {
                color: base.$text ;
            }

            .input_title {
                width: 100%;
                border: 1px solid base.$black;
                border-radius: 0.1rem;
                outline: none;
                color: base.$text;
                font-size: 1rem;
                margin-top: 0.5rem;
                padding: 0.2rem 0.5rem;

            }

            .input_title::placeholder {
                color: base.$black;
                opacity: 0.4;
            }


        }

        .new_title::after {
            position: absolute;
            content: '';
            top: -0.4rem;
            left: 0.5rem;
            height: 0.8rem;
            width: 0.8rem;
            background-color: base.$white;
            rotate: 45deg;
        }

        .new_title.active {
            display: block;
        }

    }

    .dark_mode {
        .toggle {
            height: 3rem;
            width: 6rem;
            background: url(/public/day.jpg) center/cover;
            border-radius: 2rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: all 0.5s;

            .indicator {
                cursor: pointer;
                height: 3rem;
                width: 3rem;
                transition: all 0.5s;

                .icon_sun {
                    background-color: transparent;
                    border-radius: 50%;
                    scale: 0.8;
                    animation: sun 2s infinite;
                    svg {

                        display: block;
                        color: base.$white;
                    }
                }

                .icon_moon {
                    svg {
                        display: none;
                    }

                }
            }

            .indicator.active {
                transform: scale(0.9) translateX(50px);
                background-color: base.$backgroundColor;

            }
        }

        .toggle.active {
            background: url(/public/night.jpg) center/cover;
        }
    }
}

.main_request {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0.2rem;
    min-height: 100vh;

    .request_container {
        height: 41rem;
        width: 18rem;
        position: relative;

        .request_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;

            .request_title {
                display: flex;
                align-items: center;
                gap: 1rem;

                .bar {
                    height: 0.5rem;
                    width: 1.5rem;
                    background-color: base.$black;
                    border-radius: 1rem;
                }

                .bar_progress {
                    background-color: base.$blue;
                }

                .bar_await {
                    background-color: base.$yellow;
                }

                .bar_done {
                    background-color: base.$green;
                }

                .bar_closed {
                    background-color: base.$Light-gray;
                }

                h3 {

                    font-weight: 500;
                }

                .number_card {
                    opacity: 0.4;
                    user-select: none;
                }

            }

            .icon_add {
                background-color: base.$purple ;
                border-radius: 0.2rem;
                height: 1.4rem;
                width: 1.4rem;
                display: grid;
                place-content: center;

                svg {
                    width: 1.3rem;
                    cursor: pointer;
                    color: base.$white;
                }
            }
        }

        .card_zone {
            min-height: 35%;
            overflow: hidden;
            transition: all 0.5s;
            border-radius: 1rem;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 1rem;


            .card {
                background-color: base.$white;
                height: 13rem;
                width: 90%;
                border-radius: 0.2rem;
                padding: 0.5rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                flex: 1 1 150px;
                position: relative;


                .card_header {
                    display: flex;
                    justify-content: space-between;


                    .title_card {
                        cursor: not-allowed;
                        outline: none;
                        font-size: 1rem;
                        width: 100%;
                        padding: 0.5rem;
                        user-select: none;

                    }

                    .title_card.active {
                        cursor: default;
                        animation: title 2s forwards;

                    }

                    .icon_remove {
                        display: grid;
                        place-content: center;

                        svg {
                            color: base.$black;
                            width: 1.3rem;
                            cursor: pointer;
                        }
                    }
                }

                #card_area {
                    cursor: not-allowed;
                    padding: 0 0.5rem;
                    margin-top: 0.4rem;
                    outline: none;
                    resize: none;
                    width: 100%;
                    height: 60%;
                    background-color: transparent;

                }

                #card_area.active {
                    cursor: default;
                    animation: area 2s forwards;
                }

                .edit_card {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .edit {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: base.$purple;
                        color: base.$white;
                        padding: 0.5rem;
                        border-radius: 1rem;

                        svg {
                            width: 1rem;
                        }

                        span {
                            margin-left: 0.5rem;
                            letter-spacing: 1px;
                        }
                    }

                }

            }


        }

        ::-webkit-scrollbar {
            width: 10px;
            height: 100%;

        }

        ::-webkit-scrollbar-track {
            border-radius: 1rem;
            background-color: base.$white;

        }

        ::-webkit-scrollbar-thumb {
            background: base.$Light-gray;
            border-radius: 5px;
        }


        .card_zone.active {
            background-color: base.$red;
            opacity: 0.5;
        }

        .card_zone.over {
            background-color: base.$green;
        }

    }
    @keyframes maintitle {
        0% {
            clip-path:
                circle(10%);

        }

        50% {
            background-color: #DCD7C9;
            clip-path: circle(100%);
        }

        80% {
            background-color: #DCD7C9;
            border-radius: 1rem;
            clip-path: circle(50% at);
        }

        100% {
            background-color: transparent;
            border-radius: 0.3rem;
            clip-path: circle(0% at);
        }
    }

    @keyframes title {
        0% {
            clip-path:
                circle(10%);
        }

        50% {
            background-color: base.$highlight;
            clip-path: circle(100%);
        }

        100% {
            border-radius: 1rem;
            clip-path: circle(0% at);
        }
    }
    @keyframes sun {
        0%{transform: rotate(0turn);}
        100%{transform: rotate(1turn);}
    }
    @keyframes area {
        0% {
            clip-path:
                circle(10%);
        }

        50% {
            background-color: base.$highlight;
            clip-path: circle(100%);
        }

        100% {
            border-radius: 1rem;
            clip-path: circle(0% at);
        }
    }

    @keyframes smoth {
        0% {
            transform: translateY(-40px);
        }

        100% {
            transform: translateY(0px);
        }
    }

}

//dark Theme


.dark {
    background-color: base.$dark-bg;
    color: base.$dark-text;

    .header {
        .title {
            #title {
                color: base.$white;
            }

            #title.active {
                animation: darkTheme_maintitle 2s forwards;
            }
        }

        .new_title {
            background-color: base.$dark-bg-card;

            h3 {
                color: base.$white;
            }

            .input_title {
                background-color: base.$dark-highlight;
                color: base.$white;
            }

            .input_title::placeholder {
                color: base.$white;
                opacity: 0.8;
            }
        }

        .new_title::after {
            background-color: base.$dark-bg-card;
        }

        .dark_mode {
            .toggle {
                .indicator {
                    background-color: transparent;

                    .icon_sun {
                        svg {
                            display: none;
                        }

                    }

                    .icon_moon {
                        background-color: transparent;
                        border-radius: 50%;
                        scale: 0.8;

                        svg {
                            display: block;
                            color: base.$white;
                        }

                    }
                }
            }
        }
    }

    .main_request {
        .request_container {
            .card_zone {
                .card {
                    background-color: base.$dark-bg-card;

                    .card_header {
                        .title_card {
                            background-color: base.$dark-bg-card;
                            color: base.$white;
                        }

                        .title_card.active {
                            animation: darkTheme_title 2s forwards;
                        }

                        .title_card::placeholder {
                            color: base.$white;
                            opacity: 0.8;
                        }

                        .icon_remove {
                            svg {
                                color: base.$white;
                            }
                        }
                    }

                    #card_area {
                        background-color: base.$dark-bg-card;
                        color: base.$white;
                    }

                    #card_area::placeholder {
                        color: base.$white;
                        opacity: 0.8;
                    }

                    #card_area.active {
                        animation: darkThem_area 2s forwards;
                    }
                }
            }
        }

        @keyframes darkTheme_maintitle {
            0% {
                clip-path:
                    circle(10%);

            }

            50% {
                background-color: base.$dark-highlight;
                clip-path: circle(100%);
            }

            80% {
                background-color: base.$dark-highlight;
                border-radius: 1rem;
                clip-path: circle(50% at);
            }

            100% {
                background-color: transparent;
                border-radius: 0.3rem;
                clip-path: circle(0% at);
            }
        }

        @keyframes darkTheme_title {
            0% {
                clip-path:
                    circle(10%);
            }

            50% {
                background-color: base.$dark-highlight;
                clip-path: circle(100%);
            }

            100% {
                border-radius: 1rem;
                clip-path: circle(0% at);
            }
        }

        @keyframes darkThem_area {
            0% {
                clip-path:
                    circle(10%);
            }

            50% {
                background-color: base.$dark-highlight;
                clip-path: circle(100%);
            }

            100% {
                border-radius: 1rem;
                clip-path: circle(0% at);
            }
        }
    }



}